/* Apply general styles first */
.models {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.models h2 {
  margin-bottom: 20px;
}

.cards-grid {
  display: grid;
  row-gap: 5px; /* Vertical gap */
  column-gap: 5px;
  width: calc(100% - 40px); /* Adjust width based on parent padding */
  max-width: 1200px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  
}

.card img {
  width: 100%;
  height: auto;
}

.card-text {
  word-break: break-word;
}

/* Then override with custom breakpoints */
/* For extra small devices */
