.models {
    padding: 30px;
    overflow: hidden;
  }
  .models h2 {
    margin-bottom: 20px; /* Adjust this value to increase or decrease the space */
  }
  .cards-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 cards in a row */
    gap: 0px; /* Adjust the gap between cards as needed */
  }
  
  .card {
    margin-right: 20px; /* You may adjust or remove this if the gap in the grid is sufficient */
    /* Add other styles for the card if needed */
  }
  
  /* Since there are no next/previous buttons in the Models component, we don't need the styles for them. */
  