.my-masonry-grid {
  display: flex;
  margin-left: -30px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 10px;
  background-clip: padding-box;
}

.feed-image {
  width: 100%;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.modal-box {
  position: 'absolute';
  top: '50%';
  left: '50%';
  transform: 'translate(-50%, -50%)';
  width: 400; 
  background-color: 'background.paper';
  box-shadow: 24;
  padding: 4; 
}


/* Add more CSS for modal styling as needed */
